<div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="licenseModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 d-flex justify-content-center" id="licenseModalTitle">Klatchat License Agreement</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="licenseModalBody" style="overflow-y: auto">
                <p>
                    NEON AI (TM) SOFTWARE, Software Development Kit & Application Framework
                    All trademark and other rights reserved by their respective owners
                    Copyright 2008-2022 Neongecko.com Inc.
                </p>
                <h5>Contributors</h5>
                <p>
                    Daniel McKnight, Guy Daniels, Elon Gasper, Richard Leeds,
                    Regina Bloomstine, Casimiro Ferreira, Andrii Pernatii, Kirill Hrymailo
                </p>
                <h5>License Type</h5>
                <p>
                    BSD-3 License
                </p>
                <h5>Redistribution Terms</h5>
                Redistribution and use in source and binary forms, with or without
                modification, are permitted provided that the following conditions are met:
                <br><br>
                <ol>
                  <li>Redistributions of source code must retain the above copyright notice,
                      this list of conditions and the following disclaimer.</li>
                  <li>Redistributions in binary form must reproduce the above copyright notice,
                      this list of conditions and the following disclaimer in the documentation
                      and/or other materials provided with the distribution.</li>
                  <li>Neither the name of the copyright holder nor the names of its
                      contributors may be used to endorse or promote products derived from this
                      software without specific prior written permission.</li>
                </ol>
                <hr>
                <h5>Disclaimer</h5>
                THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
                AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
                THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
                PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
                CONTRIBUTORS  BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
                EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
                PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
                OR PROFITS;  OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
                LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
                NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
                SOFTWARE,  EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            </div>
        </div>
    </div>
</div>