<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 99999">
  <div class="modal-dialog">
    <div class="modal-content">
      <h5 class="text-center mt-2">Confirm Logout</h5>
      <div class="modal-body row" id="importConversationModalBody">
        <div class="form-group col-sm-8">
          Are you sure that you want to logout?
        </div>
        <div class="form-group col-sm-4">
          <button class="btn btn-danger" id="logoutConfirm">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
