# Configuration file
/config.json

# Collection of helper scripts
/scripts/
/chat_client/client_config.json
/chat_server/server_config.json
/chat_client/static/js/runtime_config.json
/ssh_config.json
