<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="unsafe-url">
    {% if redirect_to_https is defined and redirect_to_https %}
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endif %}
    <title>{% if title is defined %}{{ title }}{% else %}Klatchat{% endif %}</title>
    {% block css_imports %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
            {% include 'base_header.html' %}
            {% include 'conversation/modals/logout.html' %}
            {% include 'conversation/modals/login.html' %}
            {% include 'conversation/modals/signup.html' %}
            {% include 'conversation/modals/license.html' %}
        {% endblock %}
    </header>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
            {% include 'base_footer.html' %}
        {% endblock %}
    </footer>
    <script type="text/javascript" src="{{ url_for('js', path='lazysizes.min.js') }}" async></script>
    {% block js_imports %}
        {% for js_module in ['jquery-3.6.1.js',
                             'popper.js',
                             'bootstrap.js',
                             'dexie.js',
                             'db.js',
                             'meta.js',
                             'config.js',
                             'base_utils.js',
                             'time_utils.js',
                             'http_utils.js',
                             'user_utils.js',
                             'builder_utils.js',
                             'date_utils.js',
                             'file_utils.js',
                             'language_utils.js',
                             ] %}
            <script type="text/javascript" src="{{ url_for('js', path=js_module) }}"></script>
        {% endfor %}
        {% if add_sio is defined and add_sio %}
            <script type="text/javascript" src="{{ url_for('js', path='socket.io.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('js', path='sio.js') }}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>