<style>
    .footer-link {
        text-decoration: underline;
        color: black;
    }
    .footer-muted {
        text-decoration: underline;
        color: grey;
        font-style: italic;
    }
</style>

<footer class="container py-4 border-top">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
            <h6 class="font-weight-bold mb-0">
                <a href="https://neon.ai" class="footer-link">Neon AI</a>
            </h6>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/company/77719928" class="footer-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://matrix.to/#/#neon-ai-community:matrix.org" class="footer-link">
                        <i class="fas fa-link"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="mailto:info@neon.ai" class="footer-link">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/NeonGeckoCom" class="footer-link">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/channel/UCO6q03NepczzJz_Cv0XYmCA" class="footer-link">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-3">
        <h5>To Order Your Custom Private LLM Visit Neon AI’s
            <a href="https://neonai.square.site/" class="footer-muted">Square Store</a>
        </h5>
    </div>
    <div class="card bg-light rounded mt-3 p-3 text-center">
        <p>
        <a href="https://neon.ai" class="footer-link font-weight-bold">Neon AI</a>® Registered Trademark
        <strong>Patents:</strong>
        <a href="https://patents.google.com/patent/US11922930B1/en?oq=US11922930" class="footer-link">US11922930</a>,
        <a href="https://patents.google.com/patent/US11431660B1/en?oq=US11431660" class="footer-link">US11431660</a>,
        <a href="https://patents.google.com/patent/US11575784B1/en?oq=US11575784" class="footer-link">US11575784</a>,
        <a href="https://patents.google.com/patent/US11277512B1/en?oq=US11277512" class="footer-link">US11277512</a>,
        <a href="https://patents.google.com/patent/US10375236B1/en?oq=US10375236" class="footer-link">US10375236</a>,
        <a href="https://patents.google.com/patent/US20140177813A1/en?oq=US20140177813" class="footer-link">US20140177813</a>,
        <a href="https://patents.google.com/patent/US20140161250A1/en?oq=US20140161250" class="footer-link">US20140161250</a>,
        <a href="https://patents.google.com/patent/US8638908B2/en?oq=US8638908" class="footer-link">US8638908</a>,
        <a href="https://patents.google.com/patent/US8553852B2/en?oq=US8553852" class="footer-link">US8553852</a>,
        <a href="https://patents.google.com/patent/US8068604B2/en?oq=US8068604" class="footer-link">US8068604</a>,
        <a href="https://patents.google.com/patent/US7424516B2/en?oq=US7424516" class="footer-link">US7424516</a> |
        China Patent <a href="https://patents.google.com/patent/CN102017585B/en?oq=CN102017585" class="footer-link">CN102017585</a> |
        Europe EU PCT Patent <a href="https://patents.google.com/patent/EP2156652B1/en?oq=EP2156652" class="footer-link">EP2156652</a> |
        <a href="https://patents.google.com/patent/US11989636B1/en?oq=US+Patent:+App.+No.+17%2f869%2c700" class="footer-link">Patents Pending</a>
        </p>
            Conversation by Example®, Conversation Segment Reconveyance™, Contextual Notification™, Adaptive Forums™,
            Conversation Processing Intelligence™, Collaborative Conversational AI™, Collaboratize™ and CCAI™ are trademarks of NeonGecko.com Inc.
        <p>
            <a href="https://neon.ai/collaborative-ai-licensing/" class="footer-link font-weight-bold">Patent Licensing</a> |
            Copyright © 2025 <a href="https://neon.ai" class="footer-link">Neon AI</a>
        </p>
    </div>
</footer>