<div id="copyrightContainer" class="text-center w-100" style="position: absolute; bottom: 5px; ">
    <hr>
    <p style="text-align: center; margin: 0;">
        All Content Copyright © 2004 – 2022
        <a target="_blank" href="http://neongecko.com">
           | NeonGecko.com Inc.
        </a>
        |
        <a id="patents-heading"
           role="button"
           data-toggle="collapse"
           href="#patents-display"
           aria-expanded="false"
           aria-controls="patents-display">
            Patents
        </a>
        |
        <span id="patents-display" class="panel-collapse collapse expand-patents-display" role="tabpanel" aria-labelledby="patents-heading">
            <a target="_blank" href="https://patents.google.com/patent//US7424516/en">
                US Patents: #7424516
            </a>

            <a target="_blank" href="https://patents.google.com/patent/US20140161250/en">
                #20140161250
            </a>

            <a target="_blank" href="https://patents.google.com/patent/US20140177813/en">
                #20140177813
            </a>

            <a target="_blank" href="https://patents.google.com/patent/US8638908/en">
                #8638908
            </a>

            <a target="_blank" href="https://patents.google.com/patent/US8068604/en">
                #8068604
            </a>

            <a target="_blank" href="https://patents.google.com/patent/US8553852/en">
                #8553852
            </a>

            <a target="_blank" href="https://patents.google.com/patent/CN102017585/en">
                | China #102017585
            </a>

            <a target="_blank" href="https://patents.google.com/patent/EP2156652/en">
                | Europe #2156652
            </a>
        </span>
        <a id="trademarks-heading" role="button" data-toggle="collapse" href="#trademarks-display" aria-expanded="false" aria-controls="trademarks-display">
            Trademarks
        </a>
            |
        <span id="trademarks-display" class="panel-collapse collapse expand-trademarks-display" role="tabpanel" aria-labelledby="trademarks-heading">
            <a target="_blank" href="http://neon.ai">
                Neon AI
            </a>
            ,
            <a target="_blank" href="http://klat.com">
                Klat and Klat.com
            </a>
            are trademarks of
            <a target="_blank" href="http://neongecko.com">
                NeonGecko.com Inc.
            </a>
            &nbsp;Other trademarks are the property of their owners.
        </span>
        <a id="content-heading"
           role="button"
           data-toggle="collapse"
           href="#content-display"
           aria-expanded="false"
           aria-controls="content-display">
            Content
        </a>
        | All Rights Reserved.
        <span id="content-display"
              class="panel-collapse collapse expand-content-display"
              role="tabpanel"
              aria-labelledby="content-heading">
        Transcription content from
            <a target="_blank" href="http://google.com">
            Google
            </a>
            , AV content from
            <a target="_blank" href="http://youtube.com">
                YouTube
            </a>
            , polylingual content from
            <a target="_blank" href="http://amazon.com">
                Amazon
            </a>
            , informational content from
            <a target="_blank" href="http://wikipedia.com">
                Wikipedia
            </a>
            and
            <a target="_blank" href="http://wolframalpha.com">
                Wolfram Alpha.
            </a>
        </span>
    </p>
    <p style="text-align: center; margin: 0;">
        <a target="_blank" href="https://www.neongecko.com/CommunityGuidelines">Community Guidelines | </a>
        <a target="_blank" href="https://www.neongecko.com/PrivacyPolicy">Privacy Policy</a> |
        <a target="_blank" href="https://www.neongecko.com/TermsofUse">Terms of Use</a> |
        <a target="_blank" href="https://neongecko.com/ContactUs">Contact Us</a> |
        <a target="_blank" href="https://www.neongecko.com/AboutUs">About Us</a>
    </p>
</div>