<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="unsafe-url">
    {% block meta %}
    {% endblock %}
    {% if redirect_to_https is defined and redirect_to_https %}
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endif %}
    <title>{% if title is defined %}{{ title }}{% else %}Klatchat{% endif %}</title>
    {% block css_imports %}
        <link rel="stylesheet" href="{{ url_for('css', path='libs/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    {% endblock %}
</head>
<body>
    <header id="klatchatHeader">
        {% block header %}
            {% include 'base_header.html' %}
            {% include 'components/modals/logout.html' %}
            {% include 'components/modals/login.html' %}
            {% include 'components/modals/signup.html' %}
            {% include 'components/modals/user_settings.html' %}
            {% include 'components/modals/license.html' %}
        {% endblock %}
    </header>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
            {% include 'base_footer.html' %}
        {% endblock %}
    </footer>
{#    <script type="text/javascript" src="{{ url_for('js', path="libs/lazysizes.min.js") }}" async></script>#}
    <script type="text/javascript" src="{{ url_for('js', path="libs/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('js', path="libs/popper.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('js', path="libs/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('js', path="libs/dexie.min.js") }}"></script>
    {% block js_imports %}
        {% for js_module in ['db.js',
                             'meta.js',
                             'config.js',
                             'base_utils.js',
                             'time_utils.js',
                             'http_utils.js',
                             'user_utils.js',
                             'builder_utils.js',
                             'date_utils.js',
                             'file_utils.js',
                             'language_utils.js',
                             'submind_utils.js',
                             'user_settings.js',
                             'version.js',
                             ] %}
            <script type="text/javascript" src="{{ url_for('js', path=js_module) }}"></script>
        {% endfor %}
        {% if add_sio is defined and add_sio %}
            <script  src="{{ url_for('js', path="libs/socket.io.min.js") }}"></script>
            <script type="text/javascript" src="{{ url_for('js', path='sio.js') }}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>
