<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/chat.css" rel="stylesheet">
</head>
<body id="main">
    <span id="main"></span>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            new NanoBuilder({
                'CHAT_DATA': [{
                    'CID': '615f0a8af55fb87f0f08154c',
                    'PARENT_ID': 'main',
                },{
                    'CID': '618c3bf75c48b33bf226f98f',
                    'PARENT_ID': 'main',
                }],
                "imageBaseFolder": "../static/img",
                'CHAT_SERVER_URL_BASE': 'http://127.0.0.1:8000',
                'SOCKET_IO_SERVER_URL': '127.0.0.1:8000'});
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"></script>
    <script src="../static/output.js"></script>
</body>
</html>