body{
    background:#eee;
}
.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    padding-bottom: 10px!important;
    max-height: 250px!important;
    overflow: auto;
    color: #ffffff;
}

.chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}


.chat-img p {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
    background: #512DA8;
    color: #fff;
    text-align: center;
    line-height: 50px;
    user-select: none;
    font-size: 14px;
}


.chat-list .chat-img {
    float: left;
    width: 48px;
}

/*.chat-list .chat-img img {*/
/*    -webkit-border-radius: 50px;*/
/*    -moz-border-radius: 50px;*/
/*    border-radius: 50px;*/
/*    width: 100%;*/
/*}*/

/*.chat-list .chat-img p {*/
/*    -webkit-border-radius: 50px;*/
/*    -moz-border-radius: 50px;*/
/*    border-radius: 50px;*/
/*    width: 100%;*/
/*    background: #512DA8;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*    user-select: none;*/
/*    font-size: 14px;*/
/*}*/

.chat-list .chat-message {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    max-width: 70%!important;
    font-size: 14px!important;
}

.chat-list .chat-message .message-text {
    max-height: 150px!important;
    min-height: 25px!important;
    overflow-y: auto!important;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    float: left;
    width: 70%;
}

.chat-message-actions {
    height: 80px;
    width: 25%!important;
    /*background-color: black;*/
}

.icon-volume-up {
  color: black;
}

.fa-lg {
    font-size: 18px;
}

/* Start message styling */

/*
    Out message styling
 */

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    text-align: right;
    margin-right: 5px!important;
}

.chat-list .out .chat-message-actions {
    float: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
    float: right;
}

/*
    In message styling
 */

.chat-list .in .chat-body {
    margin-left: 5px!important;
}

.chat-list .in .chat-message {
    float: left;
}

.chat-list .in .chat-message-actions {
    float: left;
}

/*
    Announcement styling
 */

.chat-list .announcement {
    text-align: center!important;
}

.chat-list .announcement .chat-img {
    display: none!important;
}

.chat-list .announcement .chat-body {
    /*margin-left: 5px!important;*/
    width: 100%!important;
}

.chat-list .announcement .chat-body .chat-message {
    text-align: center;
    background: grey;
}

.chat-list .announcement .chat-message-actions {
    width: auto!important;
    /*float: left;*/
}

/* End message styling */

.user_input{
    min-height: 45px;
    height: 45px;
    max-height: 200px;
}

.conversationContainer {
    position: relative;
    display: inline-flex;
    margin: 1px;
    width: fit-content!important;
}

.conversationContainer .card {
    resize: both;
    overflow:auto;
    /*width: 40%;*/
    height: 75vh;
    width: 460px;
    min-width: 460px;
    max-width: 90%;
    min-height: 300px!important;
    max-height: 80vh;
}

.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}

.card .card-header {
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}

.content{
    margin-top:40px;
}

.chats-container-alignment{
    margin-top: 0!important;
    margin-left: unset!important;
}

.close-cid{
    color: white;
    opacity: 0.6;
    float: right;
    font-weight: 700;
    line-height: 1;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.close-cid:focus {
  outline: none;
  box-shadow: none;
}

.close-cid:hover{
    opacity: 1;
    font-size: 1.8rem;
}

.toggler{
    color:cornflowerblue;
}

.toggler:hover {
    text-decoration: underline!important;
    color:cornflowerblue;
    cursor: pointer;
}


.reply-text{
    /*border-left: 4px solid white;  uncomment me to have replies */
    /*padding: 2px;*/
    cursor: pointer;
}

.message-selected{
    animation: 1.5s ease 0s 1 normal none running color_change;
}

@-webkit-keyframes color_change {
      0% {
        background-color: rgba(51, 170, 51, .4)
      }
      20% {
        background-color: rgba(51, 170, 51, .6)
      }
      40% {
        background-color: rgba(51, 170, 51, .8)
      }
      60% {
        background-color: rgba(51, 170, 51, .8)
      }
      80% {
        background-color: rgba(51, 170, 51, .8)
      }
      100% {
        background-color: rgba(51, 170, 51, .6)
      }
    }

#conversationManagementNavbar {
    position: absolute!important;
    left: 0!important;
    vertical-align: center!important;
    width: 20%!important;
    height: 100% !important;
    background-color: cornflowerblue!important;
    z-index: 9999!important;
}

#conversationManagementNavbar .navbar-nav {
    padding: initial!important;
}

.filename {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  font-family: 'verdana', sans-serif;
}

.attachment-label {
    margin-left: 10px!important;
}

.non-selectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.selectable {
    -webkit-touch-callout: initial; /* iOS Safari */
    -webkit-user-select: text!important; /* Safari */
       -moz-user-select: text!important; /* Old versions of Firefox */
        -ms-user-select: text!important; /* Internet Explorer/Edge */
            user-select: text!important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.chat-loading {
  filter: blur(2px);
  pointer-events:none;
}

.chat-spinner {
    position: absolute;
    left: 35%;
    top: 40%;
    z-index: 999;
}

.message-audio {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}

.stt-content{
    display: none;
    overflow-y: auto;
    max-height: 150px!important;
    min-height: 25px!important;
}

.lang-dropdown-header {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.lang-container {
    height: 300px!important;
    overflow-y: scroll;
}

/* Prompt Skin Styling */

.prompt-submind-img {
    max-height: 50px!important;
    max-width: 50px!important;
}

.selected {
    background-color: royalblue;
}

.excel-icon{
    vertical-align: text-top;
}

.chat-list .prompt-item {
    text-align: center!important;
    resize: both;
    max-height: unset!important;
    min-height: 50px!important;
    min-width: 250px!important;
    transition: transform 2s ease-in-out;
}

.suggestion-item {
    cursor: default;
    text-decoration: none;
    z-index: 1000;
}

/** User settings styling */

.user-settings-checkbox
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}


.nano-navbar {
    padding: 0!important;
}

.bg-nano {
    background-color: darkblue;
}

.modal, .modal-backdrop {
    position: absolute !important;
}