body{
    background:#eee;
}
.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    max-width: 100%!important;
    font-size: 14px!important;
}

.chat-list .chat-message .message-text {
    max-height: 100px!important;
    overflow-y: auto!important;
}

/*.chat-list .chat-message:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 15px;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    float: left;
    width: 70%;
}

/*.chat-list .in .chat-message:before {*/
/*    left: -12px;*/
/*    border-bottom: 20px solid transparent;*/
/*    border-right: 20px solid #5a99ee;*/
/*}*/

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

/*.chat-list .out .chat-message:before {*/
/*    right: -12px;*/
/*    border-bottom: 20px solid transparent;*/
/*    border-left: 20px solid #fc6d4c;*/
/*}*/

.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}

.card .card-header {
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}

.content{
    margin-top:40px;
}

.chats-container-alignment{
    margin-top: 0!important;
    margin-left: unset!important;
}

.close-cid{
    color: white;
    opacity: 0.6;
    float: right;
    font-weight: 700;
    line-height: 1;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.close-cid:focus {
  outline: none;
  box-shadow: none;
}

.close-cid:hover{
    opacity: 1;
    font-size: 1.8rem;
}

.toggler{
    color:cornflowerblue;
}

.toggler:hover {
    text-decoration: underline!important;
    color:cornflowerblue;
    cursor: pointer;
}

.reply-text{
    border-left: 4px solid white;
    padding: 2px;
    cursor: pointer;
}

.message-selected{
    animation: 1.5s ease 0s 1 normal none running color_change;
}

@-webkit-keyframes color_change {
      0% {
        background-color: rgba(51, 170, 51, .4)
      }
      20% {
        background-color: rgba(51, 170, 51, .6)
      }
      40% {
        background-color: rgba(51, 170, 51, .8)
      }
      60% {
        background-color: rgba(51, 170, 51, .8)
      }
      80% {
        background-color: rgba(51, 170, 51, .8)
      }
      100% {
        background-color: rgba(51, 170, 51, .6)
      }
    }
