aiofiles==0.7.0
bidict==0.21.2
cachetools==5.1.0
fastapi==0.65.1
fastapi-socketio==0.0.9
Jinja2==3.0.1
jsbeautifier==1.14.7
neon-mq-connector~=0.7
neon-sftp~=0.1
ovos_config==0.0.10
ovos_utils==0.0.35
pre-commit==3.4.0
pydantic==1.8.2
PyJWT==2.1.0
pymongo==3.12.0
python-multipart==0.0.5
python-socketio==5.7.1
uvicorn==0.14.0
websocket-client==0.54.0
websockets==9.1
