aiofiles==0.7.0
cachetools==5.1.0
fastapi==0.65.1
fastapi-socketio==0.0.6
Jinja2==3.0.1
mycroft-messagebus-client==0.9.1
mysql-connector==2.2.9
neon-mq-connector~=0.4
neon-utils~=0.6
pika==1.2.0
PyJWT==2.1.0
pymongo==3.12.0
python-socketio==5.5.0
requests==2.25.1
requests-cache==0.7.1
sshtunnel~=0.4
starlette==0.14.2
url-normalize==1.4.3
urllib3==1.26.6
uvicorn==0.14.0
virtualenv==20.4.7
websocket-client==0.54.0
websockets==9.1
