<nav class="navbar navbar-expand-sm bg-nano nano-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
                <span>
                    <a class="navbar-brand"
                       id="home-link"
                       href="#"
                       target="_parent">
                        <span style="color: #fff">Klatchat<i style="vertical-align: text-top;font-size: medium"> nano</i></span>
                    </a>
                </span>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa fa-bars" style="color: #fff"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-3">
                <li class="nav-item account-link ml-auto" id="{cid}-account-link">
                    <a class="nav-link" href="#" style="color: #fff">
                        Loading User... <div class="spinner-border spinner-border-sm text-light"></div>
                    </a>
                </li>
                <li class="nav-item settings-link" id="{cid}-settings-link" data-cid="{cid}" data-toggle="tooltip" title="Settings">
                    <a class="nav-link" href="#" style="color: #fff">
                        <i class="fa fa-gear"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
