<tr id="{prompt_id}_{user_id}_prompt_row" data-submind-id="{user_id}">
    <td class="d-flex justify-content-center" style="border-width: 0; border-top-width: 1px">
        {participant_icon}
    </td>
    <td>
        <div style="overflow-y:auto; width:100%; max-height: 150px!important;" id="{prompt_id}_{user_nickname}_resp"
             data-message-id="{response_message_id}"
             data-created-on="{response_created_on}"
             data-toggle="tooltip"
             title="{response_created_on_tooltip}">{response}
        </div>
    </td>
    <td id="{prompt_id}_{user_nickname}_disc"
        data-created-on="{opinion_created_on}"
        data-message-id="{opinion_message_id}"
        data-toggle="tooltip"
        title="{opinion_created_on_tooltip}">{opinion}
    </td>
    <td id="{prompt_id}_{user_nickname}_vote"
        data-created-on="{vote_created_on}"
        data-message-id="{vote_message_id}"
        data-toggle="tooltip"
        title="{vote_created_on_tooltip}">{vote}
    </td>
</tr>
