<li class="prompt-item mt-4">
    <table class="data table table-bordered prompt-table" data-rtc-resizable-table="table.one" id="{prompt_id}">
        <thead>
            <tr>
                <th colspan="4">Prompt: "{prompt_text}"</th>
            </tr>
            <tr>
                <th data-rtc-resizable="subminds">Submind</th>
                <th data-rtc-resizable="responses">Response</th>
                <th data-rtc-resizable="discussion">Discussion</th>
                <th data-rtc-resizable="votes">Vote</th>
            </tr>
        </thead>
        <tbody id="{prompt_id}_tbody">
            {prompt_participants_data}
        </tbody>
        <tr>
            <th colspan="4" id="{prompt_id}_winner" style="font-weight: normal">{selected_winner}</th>
        </tr>
    </table>
</li>
