<li class="{message_class}">
    <div class="chat-img">
        {image_component}
    </div>
    <div class="chat-body">
        <div class="chat-message selectable" id="{message_id}" data-sender="{nickname}">
            <p style="font-size: small;font-weight: bolder;" class="message-nickname">{nickname}</p>
            <div class="reply-placeholder mb-2 mt-1"></div>
            <p class="message-text">{message_text}</p>
            <span class="attachment-toggle icon-paperclip"><br></span>
            <span class="attachments-placeholder" style="display: none;"><br></span>
            <small>{message_time}</small>
        </div>
        <div class="chat-message-actions">
            <button id="{message_id}_speak" class="btn btn-light fa icon-volume-up fa-lg mt-1"></button>
        </div>
     </div>
</li>