<li class="{message_class}">
    <div class="chat-img" id="{message_id}_avatar" data-target="{nickname}">
        {image_component}
    </div>
    <div class="chat-body">
        <div class="chat-message selectable" id="{message_id}" data-sender="{nickname}">
            <p style="font-size: small;font-weight: bolder;" class="message-nickname">{nickname}</p>
            <div class="reply-placeholder mb-2 mt-1"></div>
            <audio class="message-text message-audio" controls preload="none">
                <source src="{audio_url}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <span id="{message_id}-stt" class="stt-content mb-1"></span>
            <span class="attachment-toggle fa fa-paperclip fa-lg"><br></span>
            <span class="attachments-placeholder" style="display: none;"><br></span>
            <small>{message_time}</small>
        </div>
        <div class="chat-message-actions">
            <button id="{message_id}_text" class="btn btn-light fa fa-file-text fa-lg mt-1"></button>
        </div>
    </div>
</li>
